<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="com.lemon.web.utils.IReporterImp"/>
        <listener class-name="com.lemon.web.listener.WebAutoListener"/>
    </listeners>

    <test verbose="2" preserve-order="true"
          name="WebTest">
        <classes>
            <!--<class name="com.lemon.web.testcase.login.LoginTester">-->
                <!--<methods>-->
                    <!--<include name="loginTestCase"/>-->
                <!--</methods>-->
            <!--</class>-->
            <class name="com.lemon.web.testcase.register.RegisterTester">
                <methods>
                    <include name="registerTestCase"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>